@charset "IBM775";
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
/*
  Sürrealism Eestis
  Author: Rasmus Saks
*/
#page-main {
  height: 100%;
  background-color: #24716f; }

#main-btn-container {
  width: 510px;
  min-height: 250px;
  margin: 10% auto auto;
  padding: 20px; }

.main-btn, .top-btn {
  width: 154px;
  padding: 12px 10px;
  border-radius: 2px;
  background-color: #2eb562;
  box-shadow: rgba(0, 0, 0, 0.16) 1px 1px;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  color: black;
  line-height: 25px;
  text-align: center; }
  .main-btn:hover, .top-btn:hover {
    color: #0d0d0d;
    cursor: pointer;
    background-color: #33c96d; }

.top-btn {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px; }

.video-container {
  margin: 20px auto auto;
  width: 640px;
  height: 360px; }

.info-box, .tasks-container {
  width: 1000px;
  min-height: 770px;
  height: 95%;
  margin: 20px auto auto;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 15px;
  overflow-y: auto; }

.tooltip {
  border-bottom: dashed white 1px;
  color: #ffbfa2;
  text-decoration: none;
  font-weight: bold; }
  .tooltip:hover {
    cursor: default;
    color: #ffe1d5; }
  .tooltip + .text {
    display: none; }

.poem-task-spacer {
  height: 35px; }

.gallery-link {
  color: #aaa;
  font-weight: bold;
  text-shadow: 0px 0px 2px black; }
  .gallery-link:hover {
    cursor: pointer;
    color: #fff; }

.info-header, .tasks-header {
  font-family: 'Alegreya Sans';
  font-weight: bolder;
  font-size: 50pt;
  border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
  line-height: 55pt;
  text-align: center;
  text-shadow: 0px 0px 2px black; }

.info-section {
  font-family: 'Alegreya Sans';
  font-size: 20pt;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
  text-shadow: 0px 0px 2px black; }

.tasks-container {
  width: 900px;
  height: 90%; }

.tasks-header {
  border-bottom: none; }

#poem-left-1, #poem-right-1, #poem-left-2, #poem-right-2 {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  width: 49%;
  height: 450px;
  padding: 10px;
  overflow: auto; }

#poem-left-1, #poem-left-2 {
  float: left; }

#poem-right-1, #poem-right-2 {
  float: right; }

.poem-spacer {
  height: 450px;
  width: 100%; }

.poem-header {
  font-weight: 900;
  font-size: 15pt;
  border-bottom: rgba(0, 0, 0, 0.2) solid 1px; }

.poem-send-container {
  margin-top: 20px; }

.poem-send-header {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 700;
  border-bottom: rgba(0, 0, 0, 0.2) solid 1px; }

.quote-generator-container {
  border: rgba(0, 0, 0, 0.2) solid 1px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  text-align: center;
  text-shadow: 0px 0px 2px black; }
  .quote-generator-container:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer; }
  .quote-generator-container .quote {
    font-size: 14pt;
    font-family: 'Indie Flower', cursive;
    line-height: 13pt; }
  .quote-generator-container .author {
    margin-top: 5px;
    font-size: 10pt;
    font-weight: bold; }

textarea, input[type=text] {
  background-color: rgba(0, 0, 0, 0.15);
  border: rgba(0, 0, 0, 0.2) solid 1px;
  color: #aaa;
  width: 100%; }
  textarea:focus, input[type=text]:focus {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1); }

input[type=button] {
  background-color: rgba(0, 0, 0, 0.15);
  color: #aaa;
  border: rgba(0, 0, 0, 0.2) solid 1px;
  margin-top: 10px; }
  input[type=button]:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer; }

.poembox {
  width: 45%;
  margin: 5x;
  padding: 5px; }

.poembox-header {
  width: 100%;
  height: 20px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

pre {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  margin: none; }

.info-box, .tasks-container {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); }

#page-laaban, #page-tasks, #page-ehin, #page-comparison, #page-laaban-gallery, #page-ehin-gallery, #page-comparison-poetry {
  overflow-y: auto; }

#page-comparison-poetry {
  background-color: #458e93; }

#page-comparison {
  background-color: #23b0c2; }

#page-laaban {
  background-color: #d9912e; }

#page-tasks {
  background-color: #579c64; }

#page-ehin {
  background-color: #3876a8; }

#page-laaban-gallery {
  background-color: #a6643c; }

#page-ehin-gallery {
  background-color: #2b587e; }

.pt-page, #pt-main {
  background-color: black; }

.btn-back {
  font-size: 20pt;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.7; }
  .btn-back:hover {
    cursor: pointer;
    opacity: 1; }
